body{
  font-family: sans-serif
}

.mainContainer{
  position: relative;
  margin: 10px auto 0 auto;
  width: 80%;
  height: 150px;
  background-color: bisque;
}

.upperContainer{
  display: flex;  
  justify-content: space;
  position: absolute;
  margin: 20px 25px;
  background-color: azure;
  width: 90%;
  height: 50px;
}

.lowerContainer{
  position: absolute;
  margin: 90px 25px;
}

.linner{
  position: relative;
  width: 200px;
  height: 10px;
  background-color: black;
}

.secondlinner{
  position: absolute;
  width: 1%;
  height: 10px;
  background-color: brown;
}